[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlsxwriter = "*"
numpy = "*"
pyqt5 = "*"
pandas = "*"
pyqt5-stubs = "==5.14.2.2"
xlrd = "*"
openpyxl = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.8"
